# def function(argument)
- statements
- return

In [1]:
#input : 19535
#output: 9(print largest digit from the given number)
def LargeNumber(n):
    large=0
    while n!=0:
        r = n%10
        if large<r:
            large = r
        n = n//10
    return large
LargeNumber(19535)

9

In [2]:
def LargeNumber(n):
    large=0
    while n!=0:
        r = n%10
        if large<r:
            large = r
        n = n//10
    return large        return allocates some memoryand stores the value;
l = LargeNumber(19535)
l                        print directly prints to the console

9

In [3]:
# factorial of a nummber
#  strong number :145 = 1! +4! +5!
# palindrome

# collection types

- 1.list
- 2.tuple
- 3.set
- 4.Dictionary

### List:
- one of the datastructures available in python.
- List is always enclosed in []
- Elements in list are separated by comma(,)

In [10]:
l = [1,5,6,3,2]
print(l[-1])  # indexing
print(l[-3]) 
print(l[2:4]) #accessing elements from index 2 and index 3
print(l[0:3])
print(l[0:4:2])
print(l[0:-2])  #[1,5,6]
print(l[-1:])    #[2]
print(l[-3:])   #[6,3,2]

2
6
[6, 3]
[1, 5, 6]
[1, 6]
[1, 5, 6]
[2]
[6, 3, 2]

In [17]:
l = [1,5,6,3,2]
print(l[-3])
print(l[-3:-1])
print(l[::2])
print(l[::3])

6
[6, 3]
[1, 6, 2]
[1, 3]

In [21]:
# Basic functions of list:
l = [1,5,6,3,2]
print(max(l)) #maximum number from the list
print(min(l))  # minimum number from list
print(sum(l))  # adds all th values in a list
print(len(l))  # returns length of a list
print(sum(l)/len(l))

6
1
17
5
3.4

In [22]:
l =[1,5,6,3,2]
l[0]="python"
l

['python', 5, 6, 3, 2]

In [23]:
l[4]="Gitam"
l

['python', 5, 6, 3, 'Gitam']

In [26]:
del l[1]

In [27]:
l

['python', 6, 3]

In [29]:
list1=[1,2,3,4,5]
l

['python', 6, 3]

In [30]:
del list1

In [34]:
# Basic list operations:
l = [2,6,4,5]
print(l*2)   # Repitition operation
# To check certain value present in the list
print(2 in l)
print(9 in l)

[2, 6, 4, 5, 2, 6, 4, 5]
True
False

In [39]:
# To access the elements through iterations
print(l)
for i in l:
    print(i)

[2, 6, 4, 5]
2
6
4
5

In [43]:
print(l)
for i in range(len(l)):
    print(l[i])

[2, 6, 4, 5]
2
6
4
5

In [47]:
# List methods:
l=[2,5,7,1]
print(l)

[2, 5, 7, 1]

In [48]:
l.append("python")  # adds the elements to the end of the list
l

[2, 5, 7, 1, 'python']

In [52]:
l.insert(1,"Gitam") # add new elememt to the specified index
l

[2, 'Gitam', 'Gitam', 'Gitam', 'Gitam', 5, 7, 1, 'python']

In [53]:
l.count(5) # returns the count of the value

1

In [55]:
print(l)
l.index('Gitam')

[2, 'Gitam', 'Gitam', 'Gitam', 'Gitam', 5, 7, 1, 'python']

1

In [56]:
l.pop()
l

[2, 'Gitam', 'Gitam', 'Gitam', 'Gitam', 5, 7, 1]

In [57]:
l.pop(1)
l

[2, 'Gitam', 'Gitam', 'Gitam', 5, 7, 1]

In [59]:
print(l)
li=["abc","gitam"]
print(li)
l.extend(li)
l

[2, 'Gitam', 'Gitam', 'Gitam', 5, 7, 1]
['abc', 'gitam']

[2, 'Gitam', 'Gitam', 'Gitam', 5, 7, 1, 'abc', 'gitam']

In [62]:
l=[3,78,54,12,54]
#print(l)
l.sort()
print(l)

[3, 12, 54, 54, 78]

l.reverse()

In [63]:
l

[3, 12, 54, 54, 78]

## Tuples:
- tuples are enclosed in a paranthesis()
- Tuples

# Dictionary:
- Dictionaries are enclosed in{}
- It consists of key value pairs
- Each key is separated to its value by a colon(:)
- Each key value is separated with other pairs by comma(,)
- Keys must be unique while creating any dictionary

In [68]:
d1={"Name":"Gitam","Email id":"gitam@gmail.com","Address":"Hyd"}
print(d1)
print(type(d1))

{'Name': 'Gitam', 'Email id': 'gitam@gmail.com', 'Address': 'Hyd'}
<class 'dict'>

In [69]:
d1["Name"]

'Gitam'

In [75]:
d1["Email id "]=["python@gmail.com"]
d1

{'Name': 'Gitam',
 'Email id': 'gitam@gmail.com',
 'Address': 'Hyd',
 'Email id ': ['python@gmail.com']}

In [76]:
d1['Name']="abc"

# Strings