# fytguk

In [1]:
print("Gitam",end="@")
print("Gitam",end=" ")
print("Gitam")

Gitam@Gitam Gitam

In [2]:
# variable:
## Also called as identifiers

name = "Gitam"
address = "hyd"
print("university name",name,"place",address)

university name Gitam place hyd

In [3]:
input()

''

In [4]:
input("enter your name")

enter your nameTan

'Tan'

In [5]:
a = input()
type(a)

5

str

In [6]:
b = int(input())
type(b)

5

int

In [16]:
x = 10
y = 13.5
z = 3+6j
print(type(x),type(y),type(z))

<class 'int'> <class 'float'> <class 'complex'>

In [17]:
x + y

23.5

In [18]:
a=y+z

(16.5+6j)

In [21]:
a = complex(z)
a

(3+6j)

In [23]:
c=complex(2,4)
print(c)
2+3

(2+4j)

5

In [27]:
x ="a"
y="python"
print(type(x))
type(y)

<class 'str'>

str

In [28]:
i=100
print(type(i))
j=str(i)
print(type(j))
k=float(i)
print(type(k))

<class 'int'>
<class 'str'>
<class 'float'>

In [30]:
x=3
y=2
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x//y)   
print(x**y)

5
1
6
1.5
1
1
9

In [32]:
# logical operators
a=20
b=30
print(a>=10 and a<=15)
print(b>=10 and b<=40)
print(a>=10 or a<=20)

False
True
True

In [33]:
# Relational operators
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)
print(a==b)
a!=b

False
False
True
True
False

True

In [36]:
# Membership operators
 
str1 ="abc"
print('c'not in str1)
print('c' in str1)

False
True

In [45]:
# Conditional statements
# if: occupies one tab and it is called as identification
##   if:
    
    
    
## check for odd number

n=int(input("enter a number"))
if n%2!=0:
    print("odd")
else:
    print("even")

enter a number5
odd

In [47]:
## check for divisibility of 3 and 5

n=int(input(" "))
if n%3==0 and n%5==0:
  print("yes")
else:
    print("no")

 5
no

In [1]:
## input a number and check whether if it is positive or negative or zero
n=int(input(" "))
if n>0:
    print("positive number")
elif n<0:
    print("negative number")
elif n==0:
    print("zero")

 6
positive number

In [3]:
year=int(input("enter the year"))
if(year%400==0)or (year%100!=0 and year %4==0):
    print("leap year")
else:
    print("not a leap year")

enter the year2025
not a leap year

In [ ]:
# Python
- topics covered
- 1.operators
- .Datatypes
- .Conditional Statements